{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}CURHUB | Cập nhật Đơn vị Đào tạo{% endblock %}

{% block page_title %}Cập nhật Đơn vị Đào tạo{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'daotao:danh_sach_don_vi' %}">Quản lý Đơn vị Đào tạo</a></li>
    <li class="breadcrumb-item active">Cập nhật</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-edit me-2"></i>Cập nhật thông tin Đơn vị</h3>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
  $(function () {
    // Initialize Select2 elements
    $('.select2').select2({
      theme: 'bootstrap4'
    });

    // Initialize Summernote elements
    $('.summernote').summernote({
        height: 150,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
  });
</script>
{% endblock scripts %}
