{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ page_title }}</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            {{ form|crispy }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a href="{% url 'daotao:danh_sach_danh_muc_kien_thuc' %}" class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>
{% endblock %}